@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Reset CSS si es un import */

@font-face {
    font-family: "nouvel-regular";
    src: url(../fonts/NouvelRRegular.ttf), ;
}

@font-face {
    font-family: "nouvel-light";
    src: url(../fonts/NouvelRLight.ttf), ;
}

@font-face {
    font-family: "nouvel-semibold";
    src: url(../fonts/NouvelRSemibold.ttf), ;
}

@font-face {
    font-family: "nouvel-bold";
    src: url(../fonts/NouvelRBold.ttf), ;
}

* {
    box-sizing: border-box;
}

/* resolver el problema de los heights heredados */

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;

    font-family: "nouvel-regular";
}

.container {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.navcollapse {
    display: none;
}

.flexcontainer {
    display: flex;
    flex-flow: row nowrap;

    /* center all items */
    justify-content: center;
    align-items: center;

    /* same size as father */
    width: 100%;
    height: 100%;
}

.item1, .item3 {
    flex: 1;
    height: 100%;
    position: relative;
}

.item2 {
    flex: 20;
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.item2 > nav, .slider, .item2footer {
    width: 100%;
}

.slider {
    flex: 10;
}

.item2footer {
    flex: 1;
}


/*---NAV----------------------------------------------------------------------------------*/

.logo {
    flex: 1;
    height: 100%;
}

.nav {
    flex: 6;
}

nav {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

#menu_on {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu_on > li  > a {
    font-family: Righteous;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all ease-in-out 200ms;
}

#menu_on > li  > a:hover {
    color: #6f6ed3;
}

#menu_on > li{
    margin-left: 3vw;
}

.imglogo { 
    width: 100%;
    height: 100%;

    background-image: url(../imagenes/logoNZ.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    /* background-color: black;  El color que quieres aplicar al SVG
    mask-image: url(../imagenes/logoNZ.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center; */
}


/*---SLIDER----------------------------------------------------------------------------------*/

.slider {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../imagenes/hero_home3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.legend {
    text-transform: uppercase;
    text-align: center;
    font-family: Righteous;
    color: white;

    text-shadow: 1px 1px 1px black;
}

.title {
    font-size: 1.4rem;
}

.great {
    font-size: 4rem;
}

.medium {
    font-size: 2rem;
}

/*---BOTH SIDES----------------------------------------------------------------------------------*/

.earleft {
    background-color: #a4a3a3;
    width: 40px;
    height: 220px;
    
    position: absolute;
    right: 0;
    top: calc(50% - 220px / 2);
} 

.earright {
    background-color: #a4a3a3;
    width: 40px;
    height: 220px;

    position: absolute;
    left: 0;
    top: calc(50% - 220px / 2);
}

.move {
    height: 40px;
    width: 220px;

    transform: rotate(-90deg) translateX(-26%) translateY(-200%);
}

.move a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/*---ABOUT---------------------------------------------------------------------------------*/



/*---TEAM---------------------------------------------------------------------------------*/



/*---WORKS---------------------------------------------------------------------------------*/
.works {
    height: 100vh;
    width: 100%;
}

.container-works {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.works-header {
    width: 100%;
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.works-header {
    width: 100%;
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.works-body {  
    width: 100%;
    flex: 5;
    flex-flow: row nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}

.workizda {
    flex: 1;
    height: 100%;

    background-image: url(../imagenes/work1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.workdcha {
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.workarriba {
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 2rem;
}

.workabajo {
    flex: 3;
    width: 100%;

    background-image: url(../imagenes/work2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.works1 {
    height: 100vh;
    width: 100%;
}

.works1-container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.works1-fila2 {
    flex: 1;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;
}

.witem3 {
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;

    font-size: 2rem;
    text-transform: uppercase;
}

.witem3 > p {
    margin: 0;
}

.subtitle {
    text-transform: none;
    font-size: 1.2rem;
    font-family: nouvel-light;
}

.witem4 {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.witem4 > p {
    padding: 0 3rem;
}

.works1-fila1 {
    flex: 4;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
}

.witem1{
    flex: 1;
    height: 100%;
    
    background-image: url(../imagenes/work3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.witem2 {
    flex: 1;
    height: 100%;

    background-image: url(../imagenes/work4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}   

.works2 {
    height: 100vh;
    width: 100%;
}

.works2-container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.works2-fila2 {
    flex: 1;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;
}

.witem7 {
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;

    font-size: 2rem;
    text-transform: uppercase;
}

.witem7 > p {
    margin: 0;
}

.subtitle {
    text-transform: none;
    font-size: 1.2rem;
    font-family: nouvel-light;
}

.witem8 {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.witem8 > p {
    padding: 0 3rem;
}

.works2-fila1 {
    flex: 4;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
}

.witem5{
    flex: 1;
    height: 100%;
    
    background-image: url(../imagenes/work5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.witem6 {
    flex: 1;
    height: 100%;

    background-image: url(../imagenes/work6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} 

/*---SERVICES---------------------------------------------------------------------------------*/

.services {
    height: 100vh;
    width: 100%;
}

.services-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.services-header {
    width: 100%;
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services-body {
    width: 60%;
    flex: 5;

    display: flex;
    flex-flow: row wrap;
}

.ser {
    flex: 1 0 50%;
    padding: 2rem 5rem;
    position: relative;
}

.ser p:first-child {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.ser p:last-child {
    line-height: 1.5rem;
}

.ser1, .ser2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.ser1 > p, .ser3 > p {
    text-align: right;
}

.ser1::before {
    content: "";
    position: absolute;
    border: 1px solid black;
    width: 85%;
    bottom: 0;
    right: 2.2rem;
}

.ser2::before {
    content: "";
    position: absolute;
    border: 1px solid black;
    height: 60%;
    left: 0;
    bottom: 2.2rem;
}

.ser4::before {
    content: "";
    position: absolute;
    border: 1px solid black;
    width: 85%;
    top: 0;
    left: 2.2rem;
}

.ser3::before {
    content: "";
    position: absolute;
    border: 1px solid black;
    height: 60%;
    right: 0;
    top: 2.2rem;
}


/*---NEWS---------------------------------------------------------------------------------*/

.news {
    height: 100vh;
    width: 100%;
}

.news-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.news-header {
    width: 100%;
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news-body {
    width: 60%;
    flex: 5;

    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
}

.news-foto {
    flex: 2;
    height: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.news-texto {
    flex: 8;
    height: 80%;
    padding: 2rem;
}

.news-texto > .title {
    font-size: 3rem;
    font-family: Righteous;
    margin: auto;
}

.newspic {
    flex: 10;
    width: 100%;

    background-image: url(../imagenes/blue\ eye.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.newsnav {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sldopt {
    height: 4px;
    flex: 1 0 60px;

    background-color: lightgray;
    cursor: pointer;

    margin-right: 5px;
}

.active {
    background-color: black !important; 
}

/*---QUOTE---------------------------------------------------------------------------------*/

.quote {
    height: 100vh;
    width: 100%;

    padding: 5%;
}

.quote-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;

    background-image: url(../imagenes/slider1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.myquote {
    text-align: center;
}

.myquote .newsnav {
    margin: 0 auto;
    width: 200px;
}

.myquote .newsnav .sldopt:hover{
    background: white;
}

.activew {
    background: white;
}

.quote-great {
    font-size: 1.4rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.quote-title {
    font-size: 1.8rem;
    font-family: Righteous;
    color: white;
    text-shadow: 1px 1px 1px black;
}


/*---CONTACT---------------------------------------------------------------------------------*/

.contact {
    height: 100vh;
    width: 100%;
}

.contact-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}

.contact-header {
    width: 100%;
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-body {
    width: 60%;
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
}

.line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.line * {
    flex: 1;
    font-family: nouvel-bold;
}

.line span:nth-child(2) {
    text-align: center;
}

.line span:last-child {
    text-align: right;
}

form {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 5rem;
}

form span {
    width: 100%;
    position: relative;
    transition: all .5s ease-in-out;
}

form > span::before{
    content: '';
    position: absolute;
    border: 1px solid gray;
    height: 10px;
    left: 0;
    bottom: 0;
}

form > span::after{
    content: '';
    position: absolute;
    border-left: 1px solid gray;
    height: 10px;
    right: 0;
    bottom: 0;
}

input[type="text"] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
    font-family: nouvel-regular;
    font-size: 1.1rem;
    padding: .5rem;
    position: relative;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid rgb(204, 61, 61);
}

textarea {
    width: 100%;
    margin-top: .5rem;
    height: 100px;
    font-family:nouvel-regular;
    font-size: 1rem;
}

.messagetext span{
    font-size: 1.1rem;
    color: rgb(160, 159, 159);
}

input[type="submit"] {
    border: 0;
    background-color: black;
    color: white;
    padding: .5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: cell;
}


/*---LAST SECTION---------------------------------------------------------------------------------*/

.last {
    height: 100vh;
    width: 100%;

    padding: 5%;
}

.last-container {
    height: 100%;

    display: flex;
    flex-flow: row wrap;
}

.last-item1 {
    height: 100%;
    flex: 1;

    background-image: url(../imagenes/footer1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.last-item2 {
    height: 100%;
    flex: 1;

    background-image: url(../imagenes/footer2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*---FOOTER---------------------------------------------------------------------------------*/

footer {
    height: 20vh;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logofooter {
    flex: 1;
    width: 300px;
    
    background-image: url(../imagenes/logoNZ.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}   