@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "NouvelRegular";
    src: url(../fonts/NouvelRRegular.ttf);
}

@font-face {
    font-family: "NouvelLight";
    src: url(../fonts/NouvelRLight.ttf);
}

@font-face {
    font-family: "NouvelBold";
    src: url(../fonts/NouvelRBold.ttf);
}

@font-face {
    font-family: "autography";
    src: url(../fonts/Autography.otf);
}

@font-face {
    font-family: "autography2";
    src: url(../fonts/UniversalExploration_PERSONAL_USE_ONLY.otf);
}

:root {
    --red: #C10200;
    --grey: rgba(181, 181, 181, 1); 
}

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
}

.red {
    color: var(--red);
}

.grey {
    color: var(--grey);
}

main {
    width: 100%;
    height: auto;
    padding: 0 5% 5% 5%;
    /* top right bottom left*/
}

.hero-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

header {
    width: 100%;
    height: 5vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.motto-body {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.mini-logo {
    height: 40px;
    flex: 0 0 100px;
    /*que no crezca - que no disminuya - tamaño 100px*/

    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.burguer {
    height: 30px;
    flex: 0 0 30px;

    background-image: url(../img/burguer.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-pic {
    height: 80vh;
    flex: 1 0 30%;

    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-motto {
    height: 80vh;
    flex: 1 0 70%;

    padding: 0 4% 0 4%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.ghost {
    flex: 1 0 20%;
}

.motto-center {
    flex: 1 0 60%;
    width: 100%;
}

.motto-footer {
    flex: 1 0 20%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.maxi-logo {
    height: 140px;
    width: auto;

    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: 30% center;
    background-repeat: no-repeat;
}

.motto-text {
    text-align: right;
    font-size: clamp(2rem, 0.667rem + 4.444vw, 6rem);
    font-family: NouvelBold;
    position: relative;
}

.motto-text span {
    color: #C10200;
}

.motto-subtitle {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 2rem;
    letter-spacing: .08rem;
    font-family: Montserrat;
}

.motto-subtitle span {
    font-weight: 600;
}

.motto-legend {
    display: flex;
    justify-content: space-between;

    font-family: NouvelRegular;
    color: rgba(181, 181, 181, 1);
}

.line {
    height: 2px;
    width: calc(100% - (3 * clamp(2rem, 0.667rem + 4.444vw, 6rem)));
    background: black;
    position: absolute;
    top: calc(clamp(2rem, 0.667rem + 4.444vw, 6rem) / 1.4);
    /*no se parte entre 2 por el padding interno de la propia fuente*/
}

/*---NATURE---------------------------------------------------------------------*/

.section-name {
    font-size: clamp(2rem, 1.333rem + 2.222vw, 4rem);
    font-family: NouvelBold;
    text-transform: uppercase;
    text-align: right;
    padding: 2rem 0;
}

.nature-by article {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.nature-izda {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.nature-dcha {
    flex: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.literal {
    flex: 1;

    background-image: url(../img/nature-name.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 2/5;
}

.nature-pic {
    flex: 1;

    background-image: url(../img/Nature.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 2/5;
}

.nature-by h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.lower {
    text-transform: lowercase;
}

.sign-miyaki {
    font-family: autography;
    font-size: 2rem;
    font-weight: 200;
}

.narrow {
    display: none !important;
}

/*---NATURE 2---------------------------------------------------------------------*/

.forest {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.forest-pic {
    flex: 1;
    aspect-ratio: 16/8;
    background-image: url(../img/Nature2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.forest-text {
    flex: 1;
    margin-top: auto;
    margin-bottom: 0;
}

.forest-text p:last-child {
    margin-bottom: 0;
}

.materials h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 4rem 0;
}

.nature-materials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.material {
    flex: 1 0 280px;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mat1 .material-pic {
    flex: 1;
    width: 100%;
    background-image: url(../img/puresenti\ 898.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 6/9;
}

.mat2 .material-pic {
    flex: 1;
    width: 100%;
    background-image: url(../img/puregrey222.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 6/9;
}

.mat3 .material-pic {
    flex: 1;
    width: 100%;
    background-image: url(../img/lighoak988.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 6/9;
}

.mat4 .material-pic {
    flex: 1;
    width: 100%;
    background-image: url(../img/ribbon\ oak\ 111.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 6/9;
}

.mat5 .material-pic {
    flex: 1;
    width: 100%;
    background-image: url(../img/ostipooak664.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 6/9;
}

.material-foot p {
    font-size: .9rem;
    text-align: center;
}

.material-foot h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

/*--- STONE ---------------------------------------------------------------------*/

.stone-by {
    width: 100%;
    margin-top: 4rem;
}

.stone-by article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    height: 100%;
}

.stone-izda {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.inalco {
    flex: 1;
    width: 100%;
    background-image: url(../img/inalco.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16/7;
}

.stone-txt {
    flex: 1;
}

.stone-txt h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16rem;
}

.stone-grey {
    flex: 1;
    width: 100%;
    background-image: url(../img/grey-stone.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16/7;
}

.stone-dcha {
    flex: 1;
}

.stone-dcha h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: NouvelBold;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.sign-2 {
    font-family: autography2;
    font-size: 2rem;
    font-weight: 200;
}

.quote { 
    margin-top: auto;
    width: 25rem;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: right;

    margin-left: auto;
}

/*--- UMBRA ---------------------------------------------------------------------*/



/*--- GEO ---------------------------------------------------------------------*/

.geo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.geo-izda {
    flex: 2;
    aspect-ratio: 7/8;
    background-image: url(../img/geo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.geo-dcha  {
    flex: 3;
}


@media screen and (max-width: 1400px) {
    body {
        background-color: lightcoral;
    }

    .main-pic {
        flex: 1 0 40%;
    }

    .main-motto {
        flex: 1 0 60%;
    }

    .motto-legend span:nth-child(13),
    .motto-legend span:nth-child(12) {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    body {
        background-color: lightgreen;
    }

    .main-pic {
        flex: 1 0 40%;
    }

    .main-motto {
        flex: 1 0 60%;
    }

    .motto-legend span:nth-child(10),
    .motto-legend span:nth-child(11) {
        display: none;
    }

    head {
        height: 7vw;
    }
}

@media screen and (max-width: 980px) {
    body {
        background-color: lightseagreen;
    }

    .motto-body {
        margin-top: 1rem;
    }

    .main-pic {
        flex: 1 0 40%;
    }

    .main-motto {
        flex: 1 0 60%;
    }

    .motto-body {
        flex-direction: column;
    }

    .motto-legend {
        margin-top: 4rem;
    }

    .main-pic {
        width: 100%;
        flex: 1;
        aspect-ratio: 4/3;
        background-image: url(../img/lavabo2.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

    }

    .main-motto {
        width: 100%;
        flex: 1;
    }

    .motto-legend span:nth-child(10),
    .motto-legend span:nth-child(11) {
        display: none;
    }

    .nature-by article {
        flex-direction: column-reverse;
    }

    .nature-dcha {
        width: 100%;
    }

    .literal {
        flex: 1;
        aspect-ratio: 2/7;
    }

    .nature-pic {
        flex: 1;
        aspect-ratio: 2/7;
    }

    .narrow {
        display: flex !important;
    }

    .wide {
        display: none !important;
    }
    
    .nature-izda {
        margin-top: 2rem !important;
    }

    .forest {
        flex-direction: column;
        margin-top: 2rem;
    }

    .forest-pic {
        width: 100%;
        aspect-ratio: 16/8;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgoldenrodyellow;
    }

    .main-pic {
        flex: 1 0 40%;
    }

    .main-motto {
        flex: 1 0 60%;
    }

    .motto-legend span:nth-child(10),
    .motto-legend span:nth-child(11) {
        display: none;
    }
}