@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: "refile";
    src: url(../Tipografias/refile/Refile.otf),
        url(../Tipografias/refile/Refile.woff),
        url(../Tipografias/refile/Refile.woff2);
}

@font-face {
    font-family: "nouvel";
    src: url(../Tipografias/nouvel-r/NouvelRBook.ttf),;
}

body{
    font-family: "nouvel";
}

h1 {
    font-family: "refile";
    color: rgba(255, 255, 255, 0.8);
    
}

h3 {
    font-family: "Playfair Display", serif;
}

html, body {
    height: 100%;
    background: radial-gradient(circle, rgb(134, 2, 61) 0%, rgb(255, 0, 150) 100%);
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.fila1 {
    width: 80%;
    margin-left: auto;
}

.fila2 {
    width: 80%;
}

.fila1 ul, .fila2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.text {
    color: white;
}

.fila1 ul li:first-child,
.fila1 ul li:nth-child(2),
.fila2 ul li:nth-child(2),
.fila2 ul li:nth-child(3){
    width: 260px;
    height: 260px;
    padding: 1rem;
    text-align: center;
}

.fila1 ul li:first-child {
    background: linear-gradient(140deg, rgb(15, 92, 29) 0%, rgb(50, 235, 8) 100%);
}

.fila1 ul li:nth-child(2) {
    background: linear-gradient(140deg, rgb(135, 2, 68) 0%, rgb(251, 34, 200) 100%);
}

.fila2 ul li:nth-child(2) {
    background: linear-gradient(140deg, rgb(148, 139, 11) 0%, rgb(236, 233, 14) 100%);
}

.fila2 ul li:nth-child(3 ) {
    background: linear-gradient(140deg, rgb(172, 84, 12) 0%, rgb(255, 145, 42) 100%);
}

.imagen1 {
    background-image: url(pic3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 1 1 260px;
}

.imagen2 {
    background-image: url(pic4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 1 1 260px;
}